body {
    margin: 0;
    overflow: hidden; 
}

#button-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.game-button {
    position: absolute;
    width: 5em;
    height: 2.5em;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 0.1em;
    transition: all 2s linear; 
    z-index: 10;
}

#ui-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none; 
    width: 140px;
    margin-right: 5px;
}

#ui-container button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #999;
    border-radius: 4px;
    cursor: pointer;
}
